.UserChat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 10px;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &.current {
        background-color: #2c2133;
    }

    &:hover {
        background-color: #2c2133;
    }

    .avatar {
        display: flex;
        position: relative;
        padding: 0;
        justify-content: center;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            margin: 0 10px;
        }

        .onlineSymbol {

            background-color: #1dca1d;
            height: 12px;
            width: 12px;
            border-radius: 50px;
            position: absolute;
            bottom: 0;
            left: 10px;
            animation: fadeIn 0.6s;
            box-shadow: 0 0 10px #1dca1d;
        }
    }

    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        flex-grow: 1;
        border-bottom: #8696a026 solid 1px;

        .text {
            font-weight: 300;
            font-size: 16px;

            .name {
                font-weight: 800;
            }

            .lastMsg {
                color: #8696a0;
                font-size: 14px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                white-space: pre-line;
            }


        }

        .info {
            position: relative;

            .count {
                width: 20px;
                height: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: red;
                border-radius: 50px;
                background-color: #8dab9d;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .time {
            color: #8696a0;
            font-size: 12px;
        }
    }
}