@font-face {
  font-family: "sf-hebrew";
  src: url("../public/FONTS/SF-Hebrew.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "sf-hebrew", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;

}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #396FF9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;

}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.474)
}