.Main {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fade-Out {
        from {
            opacity: 1;
            transform: translateY(0px);
        }

        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    background-color: #1b141f;
    height: 100%;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 100px -60px rgba(149, 142, 226, 0.366);

    .side {
        background-color: #29253a;
        width: 40%;
        height: 100%;
        min-width: 250px;
        overflow: hidden;

        .header {
            background-color: rgba(0, 0, 0, 0.22);
            position: relative;
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 30px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                object-fit: cover;
                cursor: pointer;
            }

            .header-right {
                display: flex;
                width: 50%;
                gap: 25px;
                align-items: center;
            }

            .header-left {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                gap: 30px;
            }

            div.userList {
                cursor: pointer;
                position: absolute;
                top: 80px;
                left: 50%;
                height: fit-content;
                max-height: 600px;
                width: 95%;
                background-color: #493a573a;
                padding: 10px;
                border-radius: 15px;
                backdrop-filter: blur(10px);
                z-index: 2;
                transform: translateX(-50%);
                box-shadow: 0 0 40px -10px black;
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    width: 100%;
                    background-color: #ffffff24;
                    border-radius: 10px;
                    padding: 10px;
                    font-weight: 600;
                }

                .userItem {
                    background-color: #241422ac;
                    padding: 12px;
                    border-radius: 10px;
                    transition: .2s ease-in;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    &:hover {
                        background-color: #050304ac;
                    }

                    .userItemImage {
                        img {
                            display: block;
                        }
                    }

                    .userItemText {
                        p {
                            font-weight: 800;

                            &.email {
                                font-size: 12px;
                                color: #ffffff97;
                                font-weight: 400;
                            }
                        }
                    }

                }

                p.noResult {
                    text-align: center;
                }
            }

            .search {
                border-radius: 10px;
                border: none;
                background-color: rgba(255, 255, 255, 0.13);
                padding: 5px;
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;

                input {
                    border-radius: 10px;
                    border: none;
                    padding: 5px;
                    flex-grow: 1;
                    background-color: transparent;
                    font-size: 14px;
                }

                svg {
                    opacity: 0.5;
                }
            }


        }

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            transition: 0.4s ease-in-out;
            padding: 50px;

            &.close {
                padding: 20px;
            }

            .title {
                font-size: 14px;
                opacity: 0.5;
            }

            .usersChat {
                width: 100%;
                margin-top: 20px;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 15px;
                border-radius: 25px;
                overflow: auto;
            }

            button {
                width: 100%;
                height: 40px;
                font-weight: 700;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
        }
    }

    .startChat {
        background-color: #302b49;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        height: 100%;

        h2 {
            margin-bottom: 15px;
            text-shadow: 0px 0px 30px #c3ceee;
        }

        p {
            color: #ffffff8f;
            font-size: 16px;
        }

        button {
            padding: 10px 30px;
            margin-top: 15px;
        }
    }
}