.Main {
  background-color: #1b141f;
  height: 100%;
  width: 100vw;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 100px -60px rgba(149, 142, 226, 0.366);
          box-shadow: 0 0 100px -60px rgba(149, 142, 226, 0.366);
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fade-Out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes fade-Out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.Main .side {
  background-color: #29253a;
  width: 40%;
  height: 100%;
  min-width: 250px;
  overflow: hidden;
}

.Main .side .header {
  background-color: rgba(0, 0, 0, 0.22);
  position: relative;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.Main .side .header img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.Main .side .header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main .side .header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  gap: 30px;
}

.Main .side .header div.userList {
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 600px;
  width: 95%;
  background-color: #493a573a;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 40px -10px black;
          box-shadow: 0 0 40px -10px black;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.Main .side .header div.userList input {
  width: 100%;
  background-color: #ffffff24;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}

.Main .side .header div.userList .userItem {
  background-color: #241422ac;
  padding: 12px;
  border-radius: 10px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.Main .side .header div.userList .userItem:hover {
  background-color: #050304ac;
}

.Main .side .header div.userList .userItem .userItemImage img {
  display: block;
}

.Main .side .header div.userList .userItem .userItemText p {
  font-weight: 800;
}

.Main .side .header div.userList .userItem .userItemText p.email {
  font-size: 12px;
  color: #ffffff97;
  font-weight: 400;
}

.Main .side .header div.userList p.noResult {
  text-align: center;
}

.Main .side .header .search {
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main .side .header .search input {
  border-radius: 10px;
  border: none;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  font-size: 14px;
}

.Main .side .header .search svg {
  opacity: 0.5;
}

.Main .side .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding: 50px;
}

.Main .side .content.close {
  padding: 20px;
}

.Main .side .content .title {
  font-size: 14px;
  opacity: 0.5;
}

.Main .side .content .usersChat {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 25px;
  overflow: auto;
}

.Main .side .content button {
  width: 100%;
  height: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.Main .startChat {
  background-color: #302b49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 100%;
}

.Main .startChat h2 {
  margin-bottom: 15px;
  text-shadow: 0px 0px 30px #c3ceee;
}

.Main .startChat p {
  color: #ffffff8f;
  font-size: 16px;
}

.Main .startChat button {
  padding: 10px 30px;
  margin-top: 15px;
}
/*# sourceMappingURL=Main.css.map */