@-webkit-keyframes in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.06) translateY(-200px);
            transform: scale(0.06) translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.06) translateY(-200px);
            transform: scale(0.06) translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

.Register {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: -webkit-gradient(linear, right top, left top, from(#0000005a), to(#000));
  background-image: linear-gradient(to left, #0000005a, #000);
  padding: 60px;
}

.Register .sideRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 100%;
  z-index: 1;
}

.Register .sideRegister form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.Register .sideRegister form input {
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #979797;
}

.Register .sideRegister form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Register .sideRegister form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Register .sideRegister form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Register .sideRegister form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Register .sideRegister form input:focus::-webkit-input-placeholder {
  color: #fdfdfd;
}

.Register .sideRegister form input:focus:-ms-input-placeholder {
  color: #fdfdfd;
}

.Register .sideRegister form input:focus::-ms-input-placeholder {
  color: #fdfdfd;
}

.Register .sideRegister form input:focus::placeholder {
  color: #fdfdfd;
}

.Register .sideRegister form input#email:focus {
  direction: ltr;
}

.Register .sideRegister form .validationError {
  font-size: 13px;
  color: #27d230;
}

.Register .sideRegister form button {
  height: 40px;
}

.Register .sideRegister form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Register .sideRegister form p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.Register .animation {
  -webkit-animation: in 3s;
          animation: in 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
}

.Register img.bgcRegisterImg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.Register img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=Register.css.map */