@keyframes in {
    from {
        opacity: 0;
        transform: scale(.06) translateY(-200px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.Register {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-image: linear-gradient(to left, #0000005a, #000);
    padding: 60px;

    .sideRegister {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;
        z-index: 1;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            margin-top: 30px;

            input {
                font-size: 20px;
                padding: 10px;
                background-color: transparent;
                color: white;
                font-size: 16px;
                border-bottom: 1px solid rgb(151, 151, 151);

                &::placeholder {
                    color: rgba(255, 255, 255, 0.5);
                    transition: 0.5s;
                }

                &:focus::placeholder {
                    color: rgb(253, 253, 253);
                }

                &#email:focus {
                    direction: ltr;
                }
            }

            .validationError {
                font-size: 13px;
                color: rgb(39, 210, 48);
            }

            button {
                height: 40px;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }

            p {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .animation {
        animation: in 3s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
    }


    img.bgcRegisterImg {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        object-fit: cover;
        opacity: 0.5;
    }

    img {
        width: 30px;
        height: 30px;
    }
}